*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f8f7f7;
}

nav .nav-container h2 {
    color: red;
    margin-right: 50px;
    cursor: pointer;
}

a:hover {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.container input {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.container button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

dialog {
    left: calc(50% - 150px);
    top: calc(50% - 49.5px);
    width: 300px;
    padding: 8px;
    box-sizing: content-box;
    padding-top: 17px;
    border-radius: 20px;
    border-color: green;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 11px;
}

.dialog-content p {
    color: green;
}


dialog button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 45px;
    cursor: pointer;
}

dialog::backdrop {
    background-color: black;
    opacity: 50%;
}